# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/

# Database & data
*.db
*.csv
data/

# Node
node_modules/
.next/
.env.local
.env.production
.env*.local

# OS
.DS_Store
Thumbs.db

# Docker
*.tar
